---
---

body
  background: black
  min-width: 480px
  max-width: 960px
  margin: 0 auto
  padding: 50px 0
  font-family: Arial
  font-size: 13px

h1, h2, h3
  margin-top: 30px
  margin-bottom: 15px
  text-align: center
  text-transform: uppercase
h1
  font-size: 27px
  font-weight: normal
h3
  font-size: 15px
  font-weight: bold

.wrapper
  background: rgb(189,202,207)
  padding: 15px 0

  .info
    padding: 80px 20px
  .gallery
    .imgwrapper
      display: inline-block
      width: 128px
      margin: 5px
      background: black
      img
        width: 128px
        transition: 0.5s
        &:hover
          cursor: pointer
          opacity: 0.8

nav
  ol
    list-style: none
    padding: 0
  a
    color: #ccc
    font-size: 90%
    transition: 0.2s
    &:hover
      color: rgb(226,221,189)
      text-decoration: none
  > ol
    display: table
    width: 100%
    margin: 10px 0
    > li
      display: table-cell
      width: 1/6 * 100%
      text-align: center
      > a
        text-transform: uppercase
      > ol
        padding-top: 0.5em
