---
---

$back-color: rgb(25, 30, 30)
$wrapper-color: rgb(190, 210, 220)
$gray-color: rgb(180, 180, 180)
$nav-color: rgb(230, 230, 230)
$nav-color-darker: rgb(70, 100, 130)

body
  background: $back-color
  min-width: 480px
  max-width: 960px
  margin: 0 auto
  padding: 50px 0
  font-family: Arial
  font-size: 13px

h1, h2, h3
  margin-top: 30px
  margin-bottom: 15px
  text-align: center
  text-transform: uppercase
h1
  font-size: 30px
  font-weight: normal
  letter-spacing: 1em
h2
  font-size: 26px
  font-weight: bold
h3
  font-size: 20px
  font-weight: normal
  letter-spacing: 5px

ul
  padding: 0

li
  list-style-position: outside

h1.carissa
  text-align: right
  padding-left: 15px
  color: $nav-color

.wrapper
  background: $wrapper-color
  padding: 15px 0

  .info
    padding: 80px 20px
  .gallery
    .imgwrapper
      display: inline-block
      width: 128px
      margin: 5px
      background: black
      img
        width: 128px
        transition: 0.5s
        &:hover
          cursor: pointer
          opacity: 0.8
  .larger-text
    text-align: center
    font-size: 14px
    font-weight: bold

nav
  ol
    list-style: none
    padding: 0
  a
    color: $nav-color
    font-size: 90%
    transition: 0.2s
    &:hover
      color: $nav-color-darker
      text-decoration: none
  > ol
    display: table
    width: 100%
    margin: 10px 0
    > li
      display: table-cell
      width: 1/6 * 100%
      text-align: center
      > a
        text-transform: uppercase
      > ol
        padding-top: 0.5em

.metagallery
  font-size: 0
  a
    display: inline-block
    position: relative
    margin: 3px
    text-align: center
    font-size: 10pt
    .caption
      position: absolute
      bottom: 0
      width: 100%
      padding: 6px
      background: rgba(0,0,0,0.5)
      color: #ddd
