---
---

body
  background: black

.gallery-page
  background: rgb(189,202,207)
  margin: 50px 10px
  padding: 20px 10px
  #info
    padding: 80px 0px
    h1, h2, h3
      text-align: center

.gallery
  img
    width: 128px
    margin: 5px
