<nav>
  <a href="/">Home</a>
  <a href="/painting-and-drawing">Painting & Drawing</a>
    <!-- <a href="/painting-and-drawing/metaflora">Metaflora</a>
    <a href="/painting-and-drawing/south-pacific">South Pacific</a>
    <a href="/painting-and-drawing/critical-issues">Critical Issues in the Arts</a>
    <a href="/painting-and-drawing/other">Other</a> -->
  <a href="/printmaking">Printmaking</a>
  <a href="/graphics">Graphics</a>
  <a href="/about">About</a>
  <a href="/contact">Contact</a>
</nav>
