<nav>
  <ol>
    <li><a href="/">Home</a></li>
    <li id="painting-and-drawing">
      <a href="/painting-and-drawing">Painting & Drawing</a>
      <ol>
        <li><a href="/painting-and-drawing/metaflora">Metaflora</a></li>
        <li><a href="/painting-and-drawing/south-pacific">South Pacific</a></li>
        <li><a href="/painting-and-drawing/critical-issues">Critical Issues in the Arts</a></li>
        <li><a href="/painting-and-drawing/other">Other</a></li>
      </ol>
    </li>
    <li><a href="/printmaking">Printmaking</a></li>
    <li><a href="/graphics">Graphics</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/contact">Contact</a></li>
  </ol>
</nav>
