<script>
  var photos = $('.gallery img').map(function() {
    return {
      src: $(this).attr('data-src'),
      w: $(this).attr('data-width'),
      h: $(this).attr('data-height'),
      msrc: $(this).attr('src'),
      title: $(this).attr('data-caption'),
    }
  })

  $('.gallery img').on('click', function() {
    var options = {
      index: $(this).attr('data-index'),
      getThumbBoundsFn: function(index) {
        var rect = $('.gallery img')[index].getBoundingClientRect()
        return {
          x: rect.left + window.scrollX,
          y: rect.top + window.scrollY,
          w: rect.width,
        }
      },
    }
    new PhotoSwipe($('.pswp')[0], PhotoSwipeUI_Default, photos, options).init()
  })
</script>
